include data_table/data_table.min.js
include data_table/data_table.min.js.map
include data_table/async-*.js
include data_table/async-*.js.map
include data_table/*-shared.js
include data_table/*-shared.js.map
include data_table/metadata.json
include data_table/package-info.json
include README.md
include LICENSE
include package.json
